# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/VRviewer/x64/Debug
/x64/Debug
.vs/VRviewer/v14/.suo
*.db
*.db
*.db
/VRviewer.VC.VC.opendb
/VRviewer/Data/textured_model.ply
/VRviewer/Data/tsdf.raw
/VRviewer/tsdf.raw
/VRviewer/textured_model.ply
